body,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(127, 218, 127);
  
}
.navbar{
    background-color:#15803d;

}
.nav-link{
    color:white;

}
.btn-primary{
    background-color: yellow;

}
.btn-success{
    margin-right:30px;
}
/* Navigation Ends Here */

/* Hero Starts Here */

h1{
    margin-top: 50px;
    text-align: center;
}
.para1{
   text-align: center;
}
.para2{
    text-align: center;
}
/* Footer Starts From Here */
.facebook{
    width:20px ;
    height:20px ;
}
.instagram{
    width:20px ;
    height:20px ;

}
.linkedin{
    width:20px ;
    height:20px ;
}
.tiktok{
    width:20px ;
    height:20px ;
}
.x{
    width:20px ;
    height:20px ;
}